<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Eric Gibbons, PhD
        </h1>
        <p>Assistant Professor</p>
	<p>Electrical and Computer Engineering</p>
	<p>Weber State University</p>
      </header>
      <p>I am an imaging scientist specializing in magnetic resonance imaging.  I am currently an assistant professor in the Department of Electrical and Computer Engineering at Weber State University.  I recently finished my PhD in bioengineering/electrical engineering in the Magnetic Resonance Systems Research Laboratory at Stanford University under John Pauly.  Prior to that, I earned my B.S. in biomedical engineering with a mathematics minor at the University of Utah as well as an M.S. in bioengineering at Stanford.
      </p>
      <!-- <ul class="actions"> -->
      <!--   <li><a href="#target_about" class="button big">Learn More</a></li> -->
      <!-- </ul> -->
      <ul class="actions">
        <li><a href="{{ 'schedule.html' | absolute_url }}" class="button big">Current Schedule</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/homepage.jpg" alt="" />
    </span>
  </section>
