<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Eric Gibbons, PhD
        </h1>
        <p>Post-doctoral Scholar</p>
	<p>University of Utah</p>
      </header>
      <p>I am an imaging scientist with specializing in applying deep learning to magnetic resonance imaging.  I am currently a post-doctoral scholar at the Utah Center for Advanced Imaging Research under Ed DiBella.  I recently finished my PhD in Bioengineering/Electrical Engineering in the Magnetic Resonance Systems Research Laboratory at Stanford University under John Pauly.  
      </p>
      <ul class="actions">
        <li><a href="#target_about" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/homepage.jpg" alt="" />
    </span>
  </section>
