<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Paul Summers
        </h1>
        <p>PhD Candidate</p>
	<p>Geophysics</p>
	<p>Stanford University</p>
      </header>
      <!-- <ul class="actions"> -->
      <!--   <li><a href="#target_about" class="button big">Learn More</a></li> -->
      <!-- </ul> -->
      <!-- <ul class="actions">
        <li><a href="{{ 'schedule.html' | absolute_url }}" class="button big">Current Schedule</a></li>
      </ul> -->
    </div>
    <span class="image object">
      <img src="assets/images/homepage.jpg" alt="Paul on a mountain peak over looking an alpine meadow" />
    </span>
  </section>
