
<table class="alt">
  <tr>
    <th></th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
  </tr>

  <tr>
    <td>9:30AM</td>
    <td></td>
    <td>Office Hours<br>ET 133A<br>(9:30AM-10:30AM)</td>
    <td></td>
    <td>Office Hours<br>ET 133A<br>(9:30AM-10:30AM)</td>
  </tr>

  <tr>
    <td>10:30AM</td>
    <td></td>
    <td>ECE 3210<br>ET 133D<br>(10:30AM-11:45AM)</td>
    <td></td>
    <td>ECE 3210<br>ET 133D<br>(10:30AM-11:45AM)</td>
  </tr>

  <tr>
    <td>1:30PM</td>
    <td>Office Hours<br>ET 133A<br>(3:30PM-5:00PM)</td>
    <td>ECE 3210 (Lab)<br>ET 133C<br>(1:30PM-4:30PM)</td>
    <td>Office Hours<br>ET 133A<br>(3:30PM-5:00PM)</td>
    <td></td>
  </tr>
  <tr>
    <td>5:00PM</td>
    <td>ECE 5220<br>ET 133D<br>(5:00PM-6:15PM)</td>
    <td></td>
    <td>ECE 5220<br>ET 133D<br>(5:00PM-6:15PM)</td>
    <td></td>
  </tr>

</table>
